name: Documentation

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  document-deploy:
    name: Document & Deploy

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install additional Rust targets
        run: rustup +nightly target add wasm32-unknown-unknown
      - name: Run Rustdoc
        env:
          RUSTDOCFLAGS: --crate-version main
        run:
          cargo +nightly doc --no-deps -Z rustdoc-map -Z rustdoc-scrape-examples
          --target wasm32-unknown-unknown
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Fix permissions
        run: |
          chmod -c -R +rX "target/wasm32-unknown-unknown/doc" | while read line; do
            echo "::warning title=Invalid file permissions automatically fixed::$line"
          done
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: target/wasm32-unknown-unknown/doc
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
