name: Documentation

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  document-deploy:
    name: Document & Deploy

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Install nightly Rust
        run: |
          rustup toolchain install nightly --profile minimal --target wasm32-unknown-unknown
          rustup default nightly
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run Rustdoc
        env:
          RUSTDOCFLAGS: --crate-version main
        run:
          cargo doc --no-deps --document-private-items -Z rustdoc-map -Z
          rustdoc-scrape-examples --target wasm32-unknown-unknown
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: target/doc
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
