name: Lint

on:
  push:
    branches: ["main"]
  pull_request:

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  clippy-rustdoc:
    name: Clippy & Rustdoc

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - wasm32-unknown-unknown

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Rust
        run:
          rustup toolchain install stable --profile minimal --component clippy
          --target ${{ matrix.target }}
      - name: Run Clippy
        run:
          cargo clippy --all-targets --target ${{ matrix.target }} -- -D
          warnings
      - name: Run Rustdoc
        env:
          RUSTDOCFLAGS: -D warnings
        run:
          cargo doc --no-deps --document-private-items --examples --target ${{
          matrix.target }}
